.grid-container{
  padding:14px;
  border: red 1px solid;
  display:flex;
  .fixed{
    border: green 1px solid;
    width:300px;
  }
  .fluid{
    padding:0 7px;
    display:flex;
    background-color: aquamarine;
    max-width: 560px;
    overflow-x: hidden;
    .element{
      min-width:250px;
      min-height:600px;
      margin: 0 7px;
      border:1px solid blue;
      padding:7px;
      .photo{
        text-align:center;
      }
    }
  }
}