.grid-container{
  padding:14px;
  border: red 1px solid;
  .fixed{
    border: green 1px solid;
  }
  .fluid{
    background-color: aquamarine;
    .element{
      border:1px solid blue;
      padding:7px;
      .photo{
        text-align:center;
      }
    }
  }
}